
@font-face {
    font-family: "shabnam-bold";
    src: url("../fonts/Shabnam-Bold.woff2");
}
@font-face {
    font-family: "shabnam-medium";
    src: url("../fonts/Shabnam-Medium.woff2");
}
@font-face {
    font-family: "mikhak-bold";
    src: url("../fonts/Mikhak-Bold.woff2");
}
@font-face {
    font-family: "mikhak-regular";
    src: url("../fonts/Mikhak-Regular.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;